<style>
@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* ===================== */
/* PAGINA                */
/* ===================== */
.page {
  width: 210mm;
  min-height: 297mm;
  height: 297mm;
  padding: 15mm 10mm;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
}

/* ===================== */
/* HEADER                */
/* ===================== */
.header {
  display: flex;
  gap: 50mm;
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 6mm;
}

.header-left,
.header-right {
  width: 50%;
}

.header h3 {
  margin: 4px 0;
  font-size: 11px;
}

.header-right p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ===================== */
/* DOC INFO              */
/* ===================== */
.doc-info {
  display: flex;
  font-size: 10px;
}

.doc-info div {
  flex: 1;
  padding: 0 0 10px 3px;
  border-right: 1px solid #d9d7d7;
  line-height: 14px;
}

.doc-info div:last-child {
  border-right: none;
}

.border-top {
  border-top: 1px solid #d9d7d7 !important;
}

.border-bottom {
  border-bottom: 1px solid #d9d7d7 !important;
}

.border-left {
  border-left: 1px solid #d9d7d7 !important;
}

.border-right {
  border-right: 1px solid #d9d7d7 !important;
}

/* ===================== */
/* TABLE                 */
/* ===================== */
.table-header,
.row {
  display: flex;
  font-size: 12px;
  border-bottom: 1px solid #d9d7d7 !important;
}

.table-header {
  background: #1a3a52;
  color: #fff;
  font-weight: bold;
  margin-top: 2mm;
}

.cell {
  padding: 0 4px;
}

.c1 { width: 15%; border-left: 1px solid #d9d7d7; border-right: 1px solid #d9d7d7;}
.c2 { width: 30%; border-right: 1px solid #d9d7d7;}
.c3 { width: 10%; text-align: center; border-right: 1px solid #d9d7d7;}
.c4 { width: 5%; text-align: right; border-right: 1px solid #d9d7d7;}
.c5 { width: 5%; border-right: 1px solid #d9d7d7;}
.c6 { width: 10%; text-align: right; border-right: 1px solid #d9d7d7;}
.c7 { width: 10%; text-align: right; border-right: 1px solid #d9d7d7;}
.c8 { width: 5%; text-align: right; border-right: 1px solid #d9d7d7;}
.c9 { width: 10%; border-right: 1px solid #d9d7d7;}

/* ===================== */
/* FOOTER                */
/* ===================== */
.footer {
  position: absolute;
  bottom: 15mm;
  left: 10mm;
  right: 10mm;
}

.next {
  margin-top: 6mm;
  text-align: right;
}

/* ===================== */
/* PRINT                 */
/* ===================== */
@media print {
  body { background: none; }
  .page {padding: 15mm 15mm 15mm 15mm;}
  .footer {
    position: absolute;
    bottom: 0mm;
    left: 15mm;
    right: 15mm;
  }
}
</style>

<div class="page">

  {% assign rows_per_page = 34 %}
  {% assign row_index = 0 %}
  {% assign page_number = 1 %}

  <!-- HEADER -->
  <div class="header">
    <div class="header-left">
      <img src="/myfamily-logo.png" width="270px"/>
      <p><strong>MyFamily S.r.l.</strong><br>
      Strada Solero 1A - 15048 Valenza (AL) Italy<br>
      P.I./C.F. 02398620068<br>
      Capitale Sociale 1.000.000,00 Euro i.v.<br>
      T+39 0131 950063 | info@myfamily.it<br>
      Numero di iscrizione Registro A.E.E. IT23090000015289</p>
      <p><strong>MyFamily USA Inc.</strong><br>
      9402 American Eagle Way, Suite 100 USA<br>
      EIN NUMBER: 38-4025715<br>
      T +1 (888) 550-TAGS | info@myfamilyusa.com</p>
      <p><strong>MyFamily Brasil Ltda</strong><br>
      Rua Antonio Zanini, 945, Pavilhao 1 - 95041070 Caixas Du Sul - RS - Sao Jose<br>
      P.I. 0685885 - C.F. 43857444/0001-50<br>
      info@myfamilybrasil.com</p>
    </div>

    {% assign customer_type = order.customer.metafields.invoice.customer_type %}
    {%  if customer_type == "Company" %}
      {% assign title_CFPV = "Partita IVA" %}
      {% assign p_iva_cf = order.customer.metafields.invoice.partita_iva %}
    {% else %}
      {% assign title_CFPV = "Codice fiscale" %}
      {% assign p_iva_cf = order.customer.metafields.invoice.codice_fiscale %}
    {% endif %}

    {% assign tot_discount_percentage = order.total_discount | divided_by: order.total_net_amount | times: 100 %}

    <div class="header-right">
      <h3><strong>Cliente</strong></h3>
      <p>{{ order.customer.name }}</p>
      <p>{{ order.customer.zip }} {{ order.customer.city }}</p>
      <p>{{ order.customer.country }} {{ order.customer.provinceCode }}</p>
    </div>
  </div>

  <!-- DOC INFO -->
  <div class="doc-info border-top border-left border-right">
    <div style="padding-bottom:0px;"><strong>Documento</strong><br>FATTURA PROFORMA</div>
    <div style="padding-bottom:0px;"><strong>Nr. Documento</strong><br>{{ transfer.name }}</div>
    <div style="padding-bottom:0px;"><strong>Data Doc. </strong><br>{{ order.created_at | date: "%d/%m/%Y" }}</div>
    <div style="padding-bottom:0px;"><strong>{{ title_CFPV }}</strong><br>{{ p_iva_cf }}</div>
    <div style="padding-bottom:0px;"><strong>Valuta</strong><br>EUR</div>
    <div style="padding-bottom:0px;"><strong>Pagina</strong><br>{{ page_number }}</div>
  </div>
  <div class="doc-info border-top border-bottom border-left border-right">
    <div style="padding-bottom:0px;"><strong>Pagamento</strong><br>
    {% for transaction in order.gateway %}
      {{ transaction.formattedGateway | payment_method }}<br>
    {% endfor %}
    </div>
    <div><strong>Vs. banca:</strong><br></div>
    <div><strong>Ns. banca:</strong><br></div>
  </div>

  <!-- TABLE HEADER -->
  <div class="table-header">
    <div class="cell c1">Codice</div>
    <div class="cell c2">Descrizione articolo o servizio </div>
    <div class="cell c3">TD</div>
    <div class="cell c4">U.M.</div>
    <div class="cell c5">Qtà</div>
    <div class="cell c6">Prezzo</div>
    <div class="cell c7">% Sconto</div>
    <div class="cell c8">IVA</div>
    <div class="cell c9">Totale</div>
  </div>

{% for item in order.line_items %}

  <!-- ROW -->
  <div class="row">
    <div class="cell c1">{{ item.sku }}</div>
    <div class="cell c2">{{ item.title }} - {{ item.variant_title }}</div>
    <div class="cell c3"></div>
    <div class="cell c4">PZ</div>
    <div class="cell c5">{{ item.quantity }}</div>
    <div class="cell c6">{{ item.quantity }}</div>
    <div class="cell c7">{{ item.percentage_discount[0].discountApplication.value.percentage }}</div>
    <div class="cell c8">{{ item.tax_lines[0].ratePercentage }}</div>
    <div class="cell c9">{{ item.final_price | money }}</div>
  </div>
  
  {% assign row_index = row_index | plus: 1 %}

  {% if row_index == rows_per_page and forloop.last == false %}

      <!-- FOOTER INTERMEDIO (pagina non finale) -->
      <div class="footer">
        <div class="doc-info border-top">
          <div class="border-top border-left"><strong>Totale Netto</strong><br>{{ order.line_items_subtotal_price }}</div>
          <div class="border-top"><strong>% Sconto</strong><br>{{ tot_discount_percentage | round: 2 }}</div>
          <div class="border-top"><strong>Tot. Imponibile</strong><br>{{ order.line_items_subtotal_price }}</div>
          <div class="border-top"><strong>Imposta</strong><br>{{ order.tax_price }}</div>
          <div class="border-top border-right"><strong>Tot. Documento</strong><br>{{ order.total_net_amount }}</div>
          <div class="border-top border-right"><strong>Totale Omaggi</strong><br></div>
          <div class="border-top border-right"><strong>Totale da pagare</strong><br>{{ order.total_net_amount | money }}</div>
        </div>
        <div class="doc-info border-top border-left border-right">
          <div><strong>Tipo di pagamento</strong><br>
            {% for transaction in order.gateway %}
              {{ transaction.createdAt | date: "%d/%m/%Y" }} - {{ transaction.amount | money }}<br>
            {% endfor %}
          </div>
          <div><strong>Codice IVA</strong><br>{{ order.tax_code }}</div>
          <div><strong>IVA</strong><br>IVA {{ order.tax_code }}%</div>
          <div><strong>Imponibile IVA</strong><br>{{ order.line_items_subtotal_price }}</div>
          <div><strong>Imposta</strong><br>{{ order.tax_price }}</div>
        </div>
        <div class="doc-info border-top border-left border-right border-bottom">
          <div><strong>Note</strong><br><br></div>
        </div>
        <p class="next"><strong>Segue...</strong></p>
      </div>

    </div><!-- fine page -->
<div class="page">

      <!-- HEADER RIPETUTO -->
      <div class="header">
        <div class="header-left">
          <img src="/myfamily-logo.png" width="270px"/>
          <p><strong>MyFamily S.r.l.</strong><br>
          Strada Solero 1A - 15048 Valenza (AL) Italy<br>
          P.I./C.F. 02398620068<br>
          Capitale Sociale 1.000.000,00 Euro i.v.<br>
          T+39 0131 950063 | info@myfamily.it<br>
          Numero di iscrizione Registro A.E.E. IT23090000015289</p>
          <p><strong>MyFamily USA Inc.</strong><br>
          9402 American Eagle Way, Suite 100 USA<br>
          EIN NUMBER: 38-4025715<br>
          T +1 (888) 550-TAGS | info@myfamilyusa.com</p>
          <p><strong>MyFamily Brasil Ltda</strong><br>
          Rua Antonio Zanini, 945, Pavilhao 1 - 95041070 Caixas Du Sul - RS - Sao Jose<br>
          P.I. 0685885 - C.F. 43857444/0001-50<br>
          info@myfamilybrasil.com</p>
        </div>

        <div class="header-right">
          <h3><strong>Cliente</strong></h3>
          <p>{{ order.customer.name }}</p>
          <p>{{ order.customer.zip }} {{ order.customer.city }}</p>
          <p>{{ order.customer.country }} {{ order.customer.provinceCode }}</p>
        </div>
      </div>

      {% assign page_number = page_number | plus: 1 %}

      <!-- DOC INFO -->
      <div class="doc-info border-top border-left border-right">
        <div style="padding-bottom:0px;"><strong>Documento</strong><br>FATTURA PROFORMA</div>
        <div style="padding-bottom:0px;"><strong>Nr. Documento</strong><br>{{ transfer.name }}</div>
        <div style="padding-bottom:0px;"><strong>Data Doc. </strong><br>{{ order.created_at | date: "%d/%m/%Y" }}</div>
        <div style="padding-bottom:0px;"><strong>Partita IVA</strong><br>{{ p_iva_cf }}</div>
        <div style="padding-bottom:0px;"><strong>Valuta</strong><br>EUR</div>
        <div style="padding-bottom:0px;"><strong>Pagina</strong><br>{{ page_number }}</div>
      </div>
      <div class="doc-info border-top border-bottom border-left border-right">
        <div style="padding-bottom:0px;"><strong>Pagamento</strong><br>
        {% for transaction in order.gateway %}
          {{ transaction.formattedGateway | payment_method }}
        {% endfor %}
        </div>
        <div><strong>Vs. banca:</strong><br></div>
        <div><strong>Ns. banca:</strong><br></div>
      </div>

      <!-- TABLE HEADER -->
      <div class="table-header">
        <div class="cell c1">Codice</div>
        <div class="cell c2">Descrizione articolo o servizio </div>
        <div class="cell c3">TD</div>
        <div class="cell c4">U.M.</div>
        <div class="cell c5">Qtà</div>
        <div class="cell c6">Prezzo</div>
        <div class="cell c7">% Sconto</div>
        <div class="cell c8">IVA</div>
        <div class="cell c9">Totale</div>
      </div>
      
    {% assign row_index = 0 %}
  {% endif %}

{% endfor %}

  <!-- FOOTER FINALE -->
  <div class="footer">
    <div class="doc-info border-top">
      <div class="border-top border-left"><strong>Totale Netto</strong><br>{{ order.line_items_subtotal_price }}</div>
      <div class="border-top"><strong>% Sconto</strong><br>{{ tot_discount_percentage | round: 2 }}</div>
      <div class="border-top"><strong>Tot. Imponibile</strong><br>{{ order.line_items_subtotal_price }}</div>
      <div class="border-top"><strong>Imposta</strong><br>{{ order.tax_price }}</div>
      <div class="border-top border-right"><strong>Tot. Documento</strong><br>{{ order.total_net_amount }}</div>
      <div class="border-top border-right"><strong>Totale Omaggi</strong><br></div>
      <div class="border-top border-right"><strong>Totale da pagare</strong><br>{{ order.total_net_amount | money }}</div>
    </div>
    <div class="doc-info border-top border-left border-right">
      <div><strong>Tipo di pagamento</strong><br>
        {% for transaction in order.gateway %}
          {{ transaction.createdAt | date: "%d/%m/%Y" }} - {{ transaction.amount | money }}<br>
        {% endfor %}
      </div>
      <div><strong>Codice IVA</strong><br>{{ order.tax_code }}</div>
      <div><strong>IVA</strong><br>IVA {{ order.tax_code }}%</div>
      <div><strong>Imponibile IVA</strong><br>{{ order.line_items_subtotal_price }}</div>
      <div><strong>Imposta</strong><br>{{ order.tax_price }}</div>
    </div>
    <div class="doc-info border-top border-left border-right border-bottom">
      <div><strong>Note</strong><br><br></div>
    </div>
  </div>

</div>